html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Mememaker
        link(rel="icon" href="./assets/favicon.png")
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Caveat&family=Comforter"
        )
        link(href="https://fonts.cdnfonts.com/css/next-art" rel="stylesheet")
        link(href="https://fonts.cdnfonts.com/css/helvetica-255" rel="stylesheet")
        link(href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet")
        link(href="./style.css" rel="stylesheet")
        link(href="./docs/markdown.css" rel="stylesheet")
        script(type="text/javascript" src="https://vk.com/js/api/openapi.js?168" charset="windows-1251")
    body
        block scripts
            script(src="./src/index.ts" type="module")
        article
            section(id="items")
                section(id="frames" class="frames")
            section(id="display")
                canvas(id="main")
                canvas(id="ui")
            section(id="right-panel")
                header(id="header-main")
                    section(id="header-name") Memaker v&nbsp;0.1.3
                    section(id="header-links")
                        button Справка
                        button История изменений
                        button Открыть пример
                        a(href="https://github.com/RobolabGs2/mememaker" target="_blank" rel="noopener noreferrer") GitHub
